html,
body,
body > div#__next {
  height: 100%;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #eee;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input,
button {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

*,
*:focus,
*:hover {
  outline: none;
}

@media (max-width: 1440px) {
  html,
  body {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  html,
  body {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 8px;
  }
}

@media (orientation: portrait) {
  html,
  body,
  body > div#__next {
    height: auto;
  }
}
